<template>
  <div>
    <div class="d-flex justify-space-between">
      <ul class="d-flex" style="gap: 8px">
        <li v-for="tab in tabs" :key="tab.name">
          <button
            :class="{ 'is-active': tab.isActive }"
            class="tab-btn"
            @click="selectTab(tab)"
          >
            {{ tab.name }}
          </button>
        </li>
      </ul>
      <slot name="append" />
    </div>
    <div class="mt-8">
      <slot />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      tabs: [],
    }
  },
  created() {
    this.tabs = this.$children
  },
  mounted() {
    this.tabs = this.tabs.filter((tab) => tab.name)
  },
  methods: {
    selectTab(selectedTab) {
      this.tabs.forEach((tab) => {
        tab.isActive = tab.name === selectedTab.name
      })
    },
  },
}
</script>

<style lang="css" scoped>
.tab-btn {
  width: 108px;
  border-radius: 4px 4px 0px 0px;
  background-color: rgb(229, 234, 243);
  color: rgb(35, 82, 166);
  padding: 5px 0;
  transition: all 200ms ease 0s;
}
.is-active {
  background-color: rgb(53, 68, 107);
  color: rgb(247, 247, 247);
}
</style>
