<template>
  <v-data-table
    :headers="headers"
    :items="data1"
    :items-per-page="5"
    class="elevation-1"
  >
    <template #no-data>
      <p>The Table is Empty. Please insert data with the above Button.</p>
    </template>
  </v-data-table>
</template>
<script>
export default {
  props: {
    headers: {
      type: Array,
      required: true,
    },
    data1: {
      type: Array,
      default() {
        return []
      },
    },
  },
}
</script>
